div {
    display: flex;
    justify-content: center;
    color: rgb(175, 47, 0);
    font-size: 17px;
}

button {
    padding: 5px 5px;
    margin: 20px;
    background-color: white;
    font: bolder;
    font-size: 15px;
    color: black;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(205, 148, 148);
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    color: indianred;
    font-size: 40px;
}
.container{
    width: 780px;
    margin: 0 auto;
    background: rgb(227, 241, 233);
    display: grid;
    justify-content: center;
    content: normal;
}